.Btn {
  cursor: pointer;
  background-color: tomato;
  padding: 5px 15px;
  border: none;
  font-size: 16px;
  color: white;
  transition: 0.2s ease-in-out;
}

.Btn:hover {
  transform: scale(1.1);
}

.Btn:active {
  background-color: rgb(194, 98, 82);
}
